# Quantum Canary Research Pipeline Dependencies

numpy>=1.24
scipy>=1.11
pandas>=2.0
matplotlib>=3.7
tqdm>=4.65


qiskit>=1.0
qiskit-aer>=0.13


qiskit-ibm-runtime>=0.20


qiskit-ionq>=0.5

jupyter>=1.0
ipykernel>=6.0